{% extends 'base.html.twig' %}

{% block title %}Nouvelle Commande{% endblock %}

{% block body %}
	<main class="container-fluid">
		<article class="container">
			<h1 class="text-center mb-4 fw-semibold fs-2">Ajouter Commande</h1>
			{{ include('commande/_form.html.twig') }}
			<a href="{{ path('commande_index') }}" class="btn btn-outline-primary btn-sm float-end ms-3">Retour</a>
		</article>
	</main>
{% endblock %}
